figure {
  margin: auto 0;
  padding: 0;
}

.trigger_start {
  margin: 20px;
  text-align: center;
}

.start_button {
  background: blue;
  border: 3px outset #C5C9C1;
  outline: 3px outset blue;
  color: rgba(255, 206, 102, 1);
  font-weight: 800;
  width: 140px;
  margin: auto;
  padding: 5px;
}

.trigger_start:not([open]) > .start_button::after {
  content: 'click me to begin!';
}

.trigger_start[open] > .start_button::after {
  content: 'thank you :)'
}

.trigger_start[open] > .start_button {
  color: crimson;
  background: salmon;
  outline: 3px outset salmon;
}

.ucb1::after {
  content: 'lalalal';
  color: pink !important;
  transition: all 0s linear;
  transition-delay: 1s;
}

.main_thing:has(.trigger_start[open]) .ucb1::after {
  content: 'ummm';
  color: red !important;
  transition: color 0s linear;
  transition-delay: 1s;
}


/* main stuff!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.master_wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* UI STUFF AAAAAAAAAAAAAAAAAAAAAAAAAAA */

.ui_wrapper {
  position: relative;
  padding: 5px;
  width: 275px;
  margin: 0 20px;
  margin-top: 42px;
  margin-bottom: 15px;
  left: 11%;
  cursor: pointer;
  z-index: 100;
  transition: 2s;
}

.ui_top1 {
  width: 100px;
  height: 74px;
  background: conic-gradient(from 90deg, transparent 50%, rgba(255, 206, 102, 1) 50%);
  border-radius: 50% 50%;
  position: absolute;
  top: -30px;
  left: 5px;
  z-index: 49;
}

.ui_top2 {
  width: 120px;
  height: 55px;
  background: conic-gradient(from 90deg, transparent 50%, blue 50%);
  border-radius: 50% 50%;
  position: absolute;
  top: -22px;
  left: 55px;
}

.ui_top_text {
  font-family: sans-serif;
  color: white;
  text-shadow: 1px 2px 3px lightblue;
  position: absolute;
  top: -16px;
  left: 20px;
  z-index: 50;
}

.ui_body {
  background: rgba(210, 210, 210, 1);
  border-top: 2px solid blue;
  border-bottom: 2px solid rgba(255, 206, 102, 1);
  border-right: 2px solid blue;
  border-left: 2px solid rgba(255, 206, 102, 1);
  padding: 10px;
  height: 170px;
  font-family: monospace;
  color: blue;
}

.ui_body_bar {
  background: blue;
  color: rgba(255, 206, 102, 1);
  padding: 2px;
  padding-left: 4px;
  border: 2px outset #C5C9C1;
  outline: 2px outset blue;
  margin-bottom: 5px;
}

.ui_body_header {
  background: linear-gradient(135deg,rgba(255, 206, 102, 1) 0%, rgba(255, 206, 102, 1) 47%, orange 47%, orange 49%, blue 49%, transparent 80%);
  margin: -10px;
  margin-bottom: 10px;
  padding: 5px;
  padding-left: 15px;
  color: blue;
  font-weight: 600;
}

.ui_body_footer {
  background: linear-gradient(315deg, blue 0%, blue 62%, orange 62%, orange 64%, rgba(255, 206, 102, 1) 64%, transparent 90%);
  margin: -10px;
  margin-top: 42px;
  padding: 5px;
  padding-right: 15px;
  color: rgba(255, 206, 102, 1);
  text-align: right;
  font-size: 0.8em;
  font-family: serif;
}

.ui_cover {
  position: absolute;
  right: 20px;
  bottom: 43px;
}

.ui_cover:not([open]) > .ui_cover_summ::after {
  background: blue;
  color: rgba(255, 206, 102, 1);
  padding: 2px 4px;
  border: 2px outset #C5C9C1;
  outline: 2px outset blue;
  font-size: 1em;
  content: "";
}

.ui_cover:not([open]) > .num_one_summ.ui_cover_summ::after {
  content: "ok";
  position: absolute;
  right: -2px;
  bottom: 1px;
}

.ui_cover:not([open]) > .num_two_summ.ui_cover_summ::after {
  content: "ok";
  position: absolute;
  right: -9px;
  bottom: -35px;
}

.ui_cover:not([open]) > .num_three_summ.ui_cover_summ::after {
  content: "ok";
  position: absolute;
  right: -9px;
  bottom: -35px;
}

.ui_cover[open] > .ui_cover_summ::after {
  background: blue;
  color: rgba(255, 206, 102, 1);
  padding: 2px 4px;
  border: 2px outset #C5C9C1;
  outline: 2px outset blue;
  font-size: 1em;
  content: "back";
  position: absolute;
  left: 11px;
  bottom: 8px;
}

.ui_cover[open] { /* aaaaaaaaaaaaaaaaaaaaaaaaa*/
  background: rgba(210, 210, 210, 1);
  z-index: 100;
  width: 251px;
  height: 119px;
  position: absolute;
  padding: 10px;
}

.ui_cover[open].num_one {
  left: 7px;
  top: 32px;
}

.ui_cover[open].num_two {
  background: rgba(210, 210, 210, 1);
  left: 0;
  top: 0;
}

.ui_cover[open].num_three {
  background: rgba(210, 210, 210, 1);
  left: 0;
  top: 0;
}

.ui_cover:not([open]).num_two_summ {
  left: 7px;
  top: 1px;
}

.ui_cover:not([open]).num_three_summ {
  left: 7px;
  top: 1px;
}

details > summary {
  list-style-type: none;
}

details > summary::-webkit-details-marker {
  display: none;
}

details > summary::before {
  content: '';
}

details[open] > summary::before {
  content: '';
}

.ui_cxn_bar {
  background: #2F302D;
  color: #C5C9C1;
  text-align: center;
  padding: 3px 8px;
  border: 2px solid #C5C9C1;
  outline: 2px solid #2F302D;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 10px;
  display: table;
  font-family: monospace;
  cursor: pointer;
}

.ref {
  height: 7px;
  background: rgba(255, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  bottom: 31px;
  left: 0;
  z-index: 200;
}

.ref2 {
  height: 100%;
  background: rgba(255, 0, 0, 0.2);
  position: absolute;
  width: 10px;
  bottom: 31px;
  right: 6px;
  z-index: 200;
}

.ref3 {
  height: 100%;
  background: rgba(255, 0, 0, 0.2);
  position: absolute;
  width: 10px;
  bottom: 31px;
  left: 6px;
  z-index: 200;
}

.ui_text_container {
  max-height: 4.6em;
  overflow-y: scroll;
  background: rgba(0,0,0,0.1);
  padding-left: 4px;
}

/* DEVICE STUFF AAAAAAAAAAAAAAAAAAAAAAAAAAA */

.device_wrapper {
  position: relative;
  margin: 15px 20px;
  padding: 5px;
  cursor: pointer;
  left: -10%;
  visibility: hidden;
  opacity: 0;
  transition: 2s;
  transition-delay: 0s;
  width: 200px;
}

.device_body {
  background: rgba(37, 51, 79, 0.8);
  border: 5px solid #2D3940;
  box-shadow: 7px 4px 15px rgba(50, 50, 50, 0.3);
  color: white;
  text-shadow: 1px 1px 3px rgba(138, 209, 196, 0.8);
  border-radius: 10px 10px;
  padding: 7px;
  height: 200px;
  position: relative;
}

/* LOGIC with ui AAAAAAAAAAAAAAA */

.master_wrapper:has(.ui_cover.num_three[open]) .device_wrapper {
  visibility: visible;
  opacity: 1;
  left: 0;
  transition-delay: 1.3s;
}

.master_wrapper:has(.ui_cover.num_three[open]) .ui_wrapper {
  left: 0;
  transition-delay: 1.3s;
}

/* ok all over now */

.device_app {
  width: 50px;
  height: 50px;
  border-radius: 10px 10px;
  border: 5px solid transparent;
  margin: 5px;
  background: white;
  color: transparent;
  font-size: 0;
  transition: color 0.1s, font-size 0s;
  transition-delay: 0s;
} 

.kjm_turbotune {
  border: 5px double blue;
  outline: 2px solid blue;
  background: rgba(255, 206, 102, 1);
  background-image: url(https://img.icons8.com/?size=25&id=648&format=png&color=0000FF);
  margin-right: auto;
  position: relative;
  z-index: 10000;
}

.device_app_actual {
  width: 0;
  height: 0;
  border: 0;
  transition: background 0.3s ease-out, width 0.3s ease-out, height 0.3s ease-out, border 0.3s ease-out, color 0.3s ease-out, text-shadow 0.3s ease-out;
}

details.trigger_kjmtt[open] ~ .daa_kjmtt {
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(210, 210, 210, 1);
  width: 181px;
  height: 204px;
  border-radius: 7px 7px;
  padding: 5px;
}

details.trigger_kjmtt[open] > .kjm_turbotune {
  position: absolute;
  top: 0px;
  right: -25px;
  background: transparent;
  border: 0;
  outline: 0;
  color: white;
  font-size: 1.1em;
  text-shadow: 1px 1px 3px rgba(138, 209, 196, 0.8);
  transition-delay: 0.5s;
}

details.trigger_kjmtt:not([open]) ~ .daa_kjmtt > * {
  color: transparent;
  text-shadow: 0px 0px 0px transparent;
}

details.trigger_kjmtt[open] ~ .daa_kjmtt > .kjmtt_header {
  background: blue;
  height: 30px;
  border-top-left-radius: 7px 7px;
  border-top-right-radius: 7px 7px;
  padding: 7px;
  margin: -5px;
  margin-bottom: 5px;
  color: rgba(255, 206, 102, 1);
  text-shadow: 1px 1px 3px rgba(138, 209, 196, 0.8);
}

.tiny_text {
  font-size: 0.6em;
  padding-left: 15px;
  margin-top: 1px;
}
